<div class="password-form">
	{{ form_start(form) }}
	<div class="c-infos-group">
		{{ form_label(form.name, 'Nouveau mot de passe', {'label_attr': {'class': 'login-label'}}) }}
		{{ form_errors(form.name) }}
		{{ form_widget(form.name, {'attr': {'class': 'login-input'}}) }}
	</div>
	<div class="c-infos-group">
		{{ form_label(form.description, 'Répétez le mot de passe', {'label_attr': {'class': 'login-label'}}) }}
		{{ form_errors(form.description) }}
		{{ form_widget(form.description, {'attr': {'class': 'login-input'}}) }}
	</div>
	<div class="c-infos-group">
		{{ form_label(form.time, 'Nouveau mot de passe', {'label_attr': {'class': 'login-label'}}) }}
		{{ form_errors(form.time) }}
		{{ form_widget(form.time, {'attr': {'class': 'login-input'}}) }}
	</div>
	<div class="connexion-form-group">
		<input type="submit" class="msg-btn msg-btn--admin" value="Envoyer"/>
	</div>
	{{ form_end(form) }}
</div>
